@import url(../../App.module.scss);



  /* MAIN */
.banner{
  background-image: url("../img/mar.png");
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
}

.LinkBack{
  text-decoration: none;
  font-size: 24px;
  color:var(--black);
  transition: .4s;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.LinkBack:hover{
  color: var(--green-hover);
}

.container {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid var(--black);
  width: 450px;
  max-width: 100%;
}

.titulo{
text-align: center;
color: var(--green-dark);
margin-bottom: 10px;
margin-top: 10px;
}

.form {
  padding: 0 40px 30px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--black);
}

.form-control input {
  border: 2px solid var(--black);
  border-radius: 5px;
  outline: 0;
  display: block;
  font-size: 20px;
  width: 100%;
  padding: 15px;
}

.form-control.success input {
  border: 3px solid var(--acerto);
}

.form-control.error input {
  border: 3px solid var(--error);
}

.form-control.error i.img-error {
  visibility: visible;
}



.form button {
  background-color: var(--green-hover);
  border-radius: 5px;
  color: var(--white);
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--green-dark);
  transition: 0.3s;
}
  
  .app-container {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
      
  .form-control input::placeholder {
    color: #999;
  }
  
  .form-control .input-error {
    outline: 2px solid rgb(255, 72, 72);
  }

  .form-control .input-acess{
    outline: 1px solid rgb(20, 183, 121);
  }
  
  .form-control .error-message {
    color: rgb(255, 72, 72);
    font-size: 1rem;
    margin-top: 8px;
  }
  
  .form-control select {
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #444;
    color: #eee;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .voltar{
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
  }
 
    /* celular 576px */
    @media (max-width: 576px) {
      .container{
        width: 402px;
      }
  
      .container input[type="email"]{
        width: 100%;
      }
  
      .container input[type="password"]{
        width: 100%;
      }
  
      .container input[type="submit"]{
        width: 100%;
      }
    }
  
  
    @media (max-width:496px){
      .container{
        width: 90%;
      }
  
      .container input[type="email"]{
        width: 90%;
      }
  
      .container input[type="password"]{
        width: 90%;
      }
  
      .container input[type="submit"]{
        width: 90%;
      }
    }