@import url(../../App.module.scss);


.user-container{
    display: flex;
    justify-content: center;
    gap:40px;
    .cupom {
        h3{
            font-family: var(--font-family);
            color: var(--green-dark);
            font-size: 4.2rem;
            font-weight: bold;
        }
    }

    .pin-box{
        width: 30.438rem;
        height: 37rem;
        border-radius: 1.25rem;
        box-shadow: 1px 1px 1px 1px var(--black);
        background-color: var(--white);;
             h2{
                font-size: 3.125rem;
                // padding-left:3.125rem;
                margin: 1.25rem;
                padding-top: 2.5rem;
                font-family:var(--font-family);
                font-weight: 700;
                color: rgba(53, 82, 20, 1);
                line-height: 2.344rem;
            }
            .pin-number{
                width: 21.875rem;
                box-shadow: 2px 2px 2px 2px #000;
                height: 9.375rem;
                background-color: #fffefe;
                border-radius: 10px;
                align-items: center;
                display: grid;
                justify-content: center;
                margin: 0 auto;
                font-size: 5.625rem;
                color: var(--green-dark);
            }
            h3{
                font-size: 1.875rem;
                margin: 0.5rem;
                padding-top: 0.36rem;
                color:rgba(53, 82, 20, 1);
                ;
            }
            .info{
                margin: 1.25rem;
                padding-top: 1.25rem;
                p{
                    color: var(--green-dark);
                    font-size: 1.25rem;
                    line-height: 1.172rem;
                }
                button{
                    border: none;
                    color: var(--green-dark);
                    font-size: 1.25rem;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
    }
}


@media (max-width: 1220px){
    .user-container{
        display: flex;
        justify-content: center;
        flex-direction: column;  
    }
    .cupom {
        text-align: center;
        font-size: 20px;
        img{
            width: 80%;
        }
    }
    .user-container .pin-box{
        width: 90%;
        height: 520px;
        margin-left: 25px;
        .pin-number{
            width: 70%;
        }
    }
}

@media (max-width: 576px) {
    .user-container{
        display: flex;
        justify-content: center;
        flex-direction: column;  
    }
    .cupom {
        text-align: center;
        font-size: 10px;
        img{
            width: 80%;
        }
    }
    .user-container .pin-box{
        width: 90%;
        height: 520px;
        margin-left: 19px;
        .pin-number{
            width: 70%;
        }
    }
   
}

@media (max-width:390px){
    .user-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    .cupom {
        text-align: center;
        font-size: 10px;
        img{
            width: 80%;
        }
    }

    .user-container .pin-box{
        width: 90%;
        height: 640px;
        margin-left: 19px;
        .pin-number{
            width: 70%;
            font-size: 70px;   
        }
        .info{
            padding-left:1;
            padding-top: 1;
            p{
                color: var(--green-dark);
                font-size: 1.2rem;
                line-height: 1.172rem;
                padding-bottom: 1.563rem;
            }
            buttom{
                color: var(--green-dark);
                font-size: 1.25rem;
                text-decoration: none;
                font-weight: bold;
                border: none;
            }
        }
    }
}


@media (max-width:270px){
    .user-container .pin-box{
        width: 90%;
        height: 755px;
        margin-left: 9px;
        ;
        .pin-number{
            width: 70%;
            font-size: 40px;   
        }
        h2{
            font-size: 3rem;
            font-family:var(--font-family);
            font-weight: 700;
            color: rgba(53, 82, 20, 1);
            line-height: 2.344rem;
        }
    }
}

@media (max-width:190px){
    .user-container .pin-box{
        width: 90%;
        height: 955px;
        margin-left: 9px;
        ;
        .pin-number{
            width: 70%;
            font-size: 40px;   
        }
        h2{
            font-size: 3rem;
            font-family:var(--font-family);
            font-weight: 700;
            color: rgba(53, 82, 20, 1);
            line-height: 2.344rem;
        }
    }
}


@media (max-width:160px){
    .user-container .pin-box{
        width: 90%;
        height: 955px;
        margin-left: 9px;
        ;
        .pin-number{
            width: 70%;
            font-size: 40px;   
        }
        h2{
            font-size: 3rem;
            font-family:var(--font-family);
            font-weight: 700;
            color: rgba(53, 82, 20, 1);
            line-height: 2.344rem;
        }
    }
}