:root{
    --font-family:  'Quicksand', 'sans-serif;';
    --green-dark: #355214;
    --green-light: #2cc76a;
    --white-main:#e7e1e1;
    --black:#000;
    --white:#fff;
    --gray:#D9D9D9;
    --green-hover:#22bb5f;
    --error:#DB5A5A;
    --acerto:#4ECA64;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}